<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css1/arr.css">
</head>

<body>
    <div id="outputframe"> <h2>Deleting Views</h2>
        <p>Here's how you can delete a view in MySQL:</p>
        <h2>Syntax</h2>
        <p>
            <code>DROP VIEW view_name;</code>
        </p>
        <div class="p">
        <table>
            <caption>Example View : failStudents
            </caption><tbody><tr>
                <th>RollNo</th>
                <th>Name</th>
                <th>PhoneNo</th>
                <th>Class</th>
                <th>Marks</th>
                <th>City</th>
            </tr>
            <tr>
                <td>4204</td>
                <td>Asha</td>
                <td>6259927794</td>
                <td>BCA-I</td>
                <td>156</td>
                <td>Haryana</td>
            </tr>
        </tbody></table>
    </div>
        <h2>Query</h2>
        <p>DROP VIEW failStudents;<br><br>
        Query OK, 0 rows affected (0.01 sec)
        </p>
        </div>
</body>


</html>
